<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="mt-3">
                    <a href="javascript:void(0)" class="btn create-btn text-white no-wrap d-flex align-items-center">
                        <i data-feather="plus"></i>
                        <span class="hide-menu ml-2 text-uppercase">Create New</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="home" class="mr-2"></i>
                        <span class="hide-menu">Dashboard </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="index.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Dashboard 1 </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="index2.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Dashboard 2 </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="index3.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Dashboard 3 </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="index4.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Dashboard 4 </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="index5.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Dashboard 5 </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="index6.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Dashboard 6 </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="mail" class="mr-2"></i>
                        <span class="hide-menu">Apps</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="inbox-email.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Email </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="inbox-email-detail.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Email Detail </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="inbox-email-compose.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Email Compose </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="app-calendar.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Calendar </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="sun" class="mr-2"></i>
                        <span class="hide-menu">Ui Elements </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="ui-buttons.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Buttons</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-modals.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Modals</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-tab.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Tab</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-cards.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Card</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-tooltip-popover.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Tooltip &amp; Popover</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-notification.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Notification</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-progressbar.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Progressbar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-typography.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Typography</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-bootstrap.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Bootstrap Ui</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-breadcrumb.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Breadcrumb</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-list-media.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> List Media</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-grid.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Grid</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-carousel.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Carousel</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-scrollspy.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Scrollspy</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-spinner.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Spinner</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="ui-toasts.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Toasts</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="clipboard" class="mr-2"></i>
                        <span class="hide-menu">Forms</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="form-basic.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Basic Forms</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-horizontal.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Form Horizontal</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-bootstrap-touchspin.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Bootstrap Touchspin</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-select2.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Select2</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-img-cropper.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Image Cropper</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-dropzone.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Dropzone</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-radio-checkbox.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Radio & Checkbox</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-picker-colorpicker.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Form Colorpicker</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-picker-bootstrap-rangepicker.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Form Bootstrap Rangepicker</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-picker-bootstrap-datepicker.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Form Bootstrap Datepicker</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="layout" class="mr-2"></i>
                        <span class="hide-menu">Tables</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="table-bootstrap.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Bootstrap Table </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="table-basic.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Basic Table </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="table-layout-coloured.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Coloured Table Layout</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="table-datatable-basic.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Data Table</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="table-responsive.html"
                               aria-expanded="false">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Table Responsive</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="pie-chart" class="mr-2"></i>
                        <span class="hide-menu">Charts</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="chart-c3-axis.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">C3 Charts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="chart-chart-js.html"
                               aria-expanded="false">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Chart.js Charts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="chart-sparkline.html"
                               aria-expanded="false">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Sparkline Charts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="chart-chartist.html"
                               aria-expanded="false">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Chartist Charts</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="shopping-bag" class="mr-2"></i>
                        <span class="hide-menu">Ecommerce Pages</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="eco-products.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Products</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="eco-products-cart.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Products Cart</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="eco-products-edit.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Products Edit</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="eco-products-detail.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Product Details</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="eco-products-orders.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Product Orders</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="eco-products-checkout.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Products Checkout</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="file" class="mr-2"></i>
                        <span class="hide-menu">Sample Pages </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="starter-kit.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Starterkit</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-profile.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-animation.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Animation</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-search-result.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Search Result</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-gallery.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Gallery</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-treeview.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Treeview</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-block-ui.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Block UI</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-session-timeout.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Session Timeout</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-session-idle-timeout.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Session Idle Timeout</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-utility-classes.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Helper Classes</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-maintenance.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Maintenance Page</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="lock" class="mr-2"></i>
                        <span class="hide-menu">Authentication</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="authentication-login1.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Login </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="authentication-register1.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Register</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="authentication-lockscreen.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Lockscreen</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="authentication-recover-password.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Recover password</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="map-pin" class="mr-2"></i>
                        <span class="hide-menu">Maps</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="map-google.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Google Map </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="map-vector.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Vector Map</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="feather" class="mr-2"></i>
                        <span class="hide-menu">Icons</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="icon-fontawesome.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Fontawesome Icons</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="icon-weather.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Weather Icons</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="icon-feather.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Feather Icons</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="alert-triangle" class="mr-2"></i>
                        <span class="hide-menu">Error Pages</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="error-400.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Error 400 </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="error-403.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Error 403</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="error-404.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Error 404</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="error-500.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Error 500</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="error-503.html" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu"> Error 503</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i data-feather="layers" class="mr-2"></i>
                        <span class="hide-menu">Multi Level DD</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Link 1</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="has-arrow sidebar-link" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Link 2</span>
                            </a>
                            <ul aria-expanded="false" class="collapse second-level">
                                <li class="sidebar-item">
                                    <a href="javascript:void(0)" class="sidebar-link">
                                        <i data-feather="droplet" class="mr-2"></i>
                                        <span class="hide-menu">Link 2 Sub</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link">
                                <i data-feather="droplet" class="mr-2"></i>
                                <span class="hide-menu">Link 3</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
