@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-7 align-self-center">
        <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Dashboard/Index" class="link">Panel</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Ana Sayfa</li>
                </ol>
            </nav>
        </div>
        <h4 class="page-title">Yönetim Paneli</h4>
    </div>
    <div class="col-5 align-self-center text-right">
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="javascript:void(0)" onclick="location.reload();" class="link" title="Sayfayı Yenile">
                    <i data-feather="refresh-cw"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-gradient-primary sales-details">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex p-3">
                                <div>
                                    <i class="text-white op-7" data-feather="mail"></i>
                                    <span class="text-white op-7 d-block my-3">Toplam Mesaj Sayısı</span>
                                    <h3 class="text-white mb-0">5,600</h3>
                                </div>
                                <div class="ml-auto align-self-end mb-1">
                                    <span class="text-white">
                                        <i class="fas fa-caret-up text-white mr-1"></i>
                                        2.41
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex p-3">
                                <div>
                                    <i class="text-white op-7" data-feather="users"></i>
                                    <span class="text-white op-7 d-block my-3">Toplam Kullanıcı Sayısı</span>
                                    <h3 class="text-white mb-0">180</h3>
                                </div>
                                <div class="ml-auto align-self-end mb-1">
                                    <span class="text-white">
                                        <i class="fas fa-caret-down text-white mr-1"></i>
                                        2.41
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex p-3">
                                <div>
                                    <i class="text-white op-7" data-feather="send"></i>
                                    <span class="text-white op-7 d-block my-3">Gelen Mesajlar</span>
                                    <h3 class="text-white mb-0">5,600</h3>
                                </div>
                                <div class="ml-auto align-self-end mb-1">
                                    <span class="text-white">
                                        <i class="fas fa-caret-up text-white mr-1"></i>
                                        2.41
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex p-3">
                                <div>
                                    <i class="text-white op-7" data-feather="eye-off"></i>
                                    <span class="text-white op-7 d-block my-3">Okunmamış Mesajlar</span>
                                    <h3 class="text-white mb-0">180</h3>
                                </div>
                                <div class="ml-auto align-self-end mb-1">
                                    <span class="text-white">
                                        <i class="fas fa-caret-down text-white mr-1"></i>
                                        2.41
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <img src="/mendy-admin-template/mendy-admin/package/assets/images/big/card-bg.jpg" class="card-img-top" alt="card-bg">
                <div class="card-body text-center">
                    <div class="mb-4 negative-margin">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/5.jpg" width="130" class="rounded-circle" alt="user">
                        <h4 class="mt-3 mb-0">Admin Kullanıcı</h4>
                    </div>
                    <a href="/About/Index" class="label label-rounded text-white bg-info" title="Hakkında"><i class="ti-info-alt"></i></a>
                    <a href="/Password/Index" class="label label-rounded text-white bg-danger" title="Şifre Değiştir"><i class="ti-lock"></i></a>
                    <a href="/Settings/Index" class="label label-rounded text-white bg-warning" title="Ayarları Düzenle"><i class="ti-settings"></i></a>
                    <a href="/MailList/Index" class="label label-rounded text-white bg-success" title="Mail Listesi"><i class="ti-email"></i></a>
                </div>
                <div class="border-top mt-2">
                    <div class="row text-center">
                        <div class="col-6 border-right py-3">
                            <a href="/Mail/Inbox" class="d-flex align-items-center text-muted justify-content-center font-medium">
                                <i data-feather="list" class="mr-2"></i><span class="text-dark">Gelen Kutusu</span>
                            </a>
                        </div>
                        <div class="col-6 py-3">
                            <a href="/Profile/Index" class="d-flex align-items-center text-muted justify-content-center font-medium">
                                <i data-feather="user" class="mr-2"></i><span class="text-dark">Profilim</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
            <div class="card bg-gradient-primary oh">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h4 class="card-title text-white mb-0">Kullanıcı Listesi</h4>
                        </div>
                        <div class="ml-auto">
                            <div class="dropdown title-dropdown">
                                <button class="btn btn-link text-white op-5 dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i data-feather="more-horizontal"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                    <a class="dropdown-item" href="#">Düzenle</a>
                                    <a class="dropdown-item" href="#">Sil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-input icon-left mt-3">
                        <input type="text" class="form-control" placeholder="Ara...">
                        <i class="form-control-icon" data-feather="search"></i>
                    </div>
                </div>
                <div class="card-body bg-white">
                    <div class="social-widget d-flex">
                        <div class="social-user">
                            <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/2.jpg" width="115" class="rounded-circle"
                                 alt="user">
                            <h6 class="mt-3 mb-0">Pete Mason</h6>
                            <button type="button" class="btn btn-rounded btn-outline-primary-gradient mt-2">Bağlan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Mesajlaşmalarım</h4>
                    <h6 class="card-subtitle mb-0">Son mesajların listesi ve okundu durumu</h6>
                </div>
                <div class="comment-widgets scrollable" style="height:573px;">
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="p-2">
                            <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                        </div>
                        <div class="comment-text w-100">
                            <h6 class="font-medium">James Anderson</h6>
                            <span class="m-b-15 d-block">
                                Örnek mesaj içeriği buraya gelecek.
                            </span>
                            <div class="comment-footer">
                                <span class="text-muted float-right">14 Nisan, 2024</span>
                                <span class="label label-rounded label-primary">Beklemede</span>
                                <span class="action-icons">
                                    <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                                    <a href="javascript:void(0)"><i class="ti-check"></i></a>
                                    <a href="javascript:void(0)"><i class="ti-heart"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Hızlı Mesaj</h4>
                    <h6 class="card-subtitle mb-0">Son görüşülen kişiyle sohbet geçmişi</h6>
                    <div class="chat-box scrollable position-relative mt-3" style="height:475px;">
                        <ul class="chat-list">
                            <li class="chat-item">
                                <div class="chat-img"><img src="/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" alt="user"></div>
                                <div class="chat-content">
                                    <h6 class="font-medium">James Anderson</h6>
                                    <div class="box bg-light-info">Merhaba, sistem hakkında bir sorum olacaktı.</div>
                                </div>
                                <div class="chat-time">10:56</div>
                            </li>
                            <li class="odd chat-item">
                                <div class="chat-content">
                                    <div class="box bg-light-inverse">Tabii, yardımcı olabilirim.</div>
                                </div>
                                <div class="chat-time">10:59</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body border-top">
                    <div class="row">
                        <div class="col-9">
                            <div class="input-field mt-0 mb-0">
                                <input type="text" id="textarea1" placeholder="Mesajınızı yazın ve enter'a basın" class="form-control border-0">
                            </div>
                        </div>
                        <div class="col-3">
                            <a class="btn-circle btn-lg btn-cyan float-right text-white" href="javascript:void(0)">
                                <i class="fas fa-paper-plane"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>