<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" style="width: auto; border: none; background: transparent;">
            <a href="/Mail/Inbox" class="navbar-brand d-flex align-items-center">
                <b class="logo-icon">
                    <img src="/mendy-admin-template/mendy-admin/package/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" style="width: 30px;" />
                </b>
                <span class="logo-text" style="padding-left: 15px; font-weight: bold; font-size: 20px; color: #fff; letter-spacing: 1px;">
                    MENDY PANEL
                </span>
            </a>
        </div>

        <div class="navbar-collapse collapse" id="navbarSupportedContent" style="margin-left: 0;">
            <ul class="navbar-nav float-left mr-auto">
            </ul>

            <ul class="navbar-nav float-right">
                @await Component.InvokeAsync("AdminLayoutNavbar")
            </ul>
        </div>
    </nav>
</header>