<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light bg-white" style="height: 64px;">

        <div class="navbar-header d-flex align-items-center justify-content-between w-100" style="background: transparent !important;">

            <div class="d-flex align-items-center">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none p-3 text-dark" href="javascript:void(0)">
                    <i class="mdi mdi-menu font-24"></i>
                </a>
                <a class="navbar-brand py-0" href="/Dashboard/Index">
                    <img src="/mendy-admin-template/mendy-admin/package/assets/images/logo-icon.png" alt="logo" style="width: 30px;">
                </a>
            </div>

            @* Mobil Görünüm *@
            <div class="d-md-none pr-3">
                @await Component.InvokeAsync("AdminLayoutNavbar")
            </div>

        </div>

        @* Masaüstü Görünüm *@
        <div class="navbar-collapse collapse d-none d-md-flex" id="navbarSupportedContent">
            <ul class="navbar-nav float-right ml-auto">
                @await Component.InvokeAsync("AdminLayoutNavbar")
            </ul>
        </div>
    </nav>
</header>