<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hızlı Mesaj</h4>
            <h6 class="card-subtitle mb-0">Son görüşülen kişiyle sohbet geçmişi</h6>
            <div class="chat-box scrollable position-relative mt-3" style="height:475px;">
                <ul class="chat-list">
                    <li class="chat-item">
                        <div class="chat-img"><img src="/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" alt="user"></div>
                        <div class="chat-content">
                            <h6 class="font-medium">James Anderson</h6>
                            <div class="box bg-light-info">Merhaba, sistem hakkında bir sorum olacaktı.</div>
                        </div>
                        <div class="chat-time">10:56</div>
                    </li>
                    <li class="odd chat-item">
                        <div class="chat-content">
                            <div class="box bg-light-inverse">Tabii, yardımcı olabilirim.</div>
                        </div>
                        <div class="chat-time">10:59</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body border-top">
            <div class="row">
                <div class="col-9">
                    <div class="input-field mt-0 mb-0">
                        <input type="text" id="textarea1" placeholder="Mesajınızı yazın ve enter'a basın" class="form-control border-0">
                    </div>
                </div>
                <div class="col-3">
                    <a class="btn-circle btn-lg btn-cyan float-right text-white" href="javascript:void(0)">
                        <i class="fas fa-paper-plane"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
