<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mesajlaşmalarım</h4>
            <h6 class="card-subtitle mb-0">Son mesajların listesi ve okundu durumu</h6>
        </div>
        <div class="comment-widgets scrollable" style="height:573px;">
            <div class="d-flex flex-row comment-row m-t-0">
                <div class="p-2">
                    <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                </div>
                <div class="comment-text w-100">
                    <h6 class="font-medium">James Anderson</h6>
                    <span class="m-b-15 d-block">
                        Örnek mesaj içeriği buraya gelecek.
                    </span>
                    <div class="comment-footer">
                        <span class="text-muted float-right">14 Nisan, 2024</span>
                        <span class="label label-rounded label-primary">Beklemede</span>
                        <span class="action-icons">
                            <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                            <a href="javascript:void(0)"><i class="ti-check"></i></a>
                            <a href="javascript:void(0)"><i class="ti-heart"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
