@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_MailLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-breadcrumb bg-white p-3 shadow-sm">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <a href="/Dashboard/Index" class="mr-3 d-flex align-items-center justify-content-center"
                       style="width: 40px; height: 40px; background-color: #f3f3f5; border-radius: 50%; transition: 0.3s;"
                       onmouseover="this.style.backgroundColor='#e9ecef'"
                       onmouseout="this.style.backgroundColor='#f3f3f5'">
                        <i class="mdi mdi-chevron-left text-primary" style="font-size: 24px;"></i>
                    </a>

                    <div class="d-flex flex-column">
                        <h4 class="page-title mb-0 font-weight-bold" style="color: #3e3c59;">Tüm Gelen Kutusu</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0 bg-transparent" style="font-size: 12px;">
                                <li class="breadcrumb-item"><a href="/Dashboard/Index" class="text-muted">Ana Sayfa</a></li>
                                <li class="breadcrumb-item active text-dark" aria-current="page">Gelen Kutusu</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="ml-auto d-flex align-items-center">
                        <a href="javascript:location.reload();" class="text-muted mx-2" title="Yenile">
                            <i class="mdi mdi-refresh font-20"></i>
                        </a>
                        <a href="javascript:void(0)" class="text-muted mx-2" title="Ayarlar">
                            <i class="mdi mdi-settings font-20"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @await Component.InvokeAsync("MailLayoutSidebar")

    @*Gelen mesaj listesi çekilecek*@
    <div class="table-responsive">
        <table class="table email-table no-wrap table-hover v-middle">
            <tbody>
                <!-- row -->
                <tr class="unread">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst1">
                            <label class="custom-control-label" for="cst1">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Hanna Gover</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            <span class="label label-danger m-r-10">Work</span>
                            <span class="blue-grey-text text-darken-4">Lorem ipsum perspiciatis-</span>
                            unde omnis iste natus error sit voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> 12:30 PM </td>
                </tr>
                <!-- row -->
                <tr class="unread">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst2">
                            <label class="custom-control-label" for="cst2">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/2.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Genelia Roshan</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            <span class="label label-info m-r-10">Business</span>
                            <span class="blue-grey-text text-darken-4">Inquiry about license </span>for
                            Admin Template please provide us the license detail
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> 11:30 AM </td>
                </tr>
                <!-- row -->
                <tr class="unread">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst3">
                            <label class="custom-control-label" for="cst3">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/3.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name max-texts">
                        <h6 class="m-b-0">Ritesh Deshmukh</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            <span class="label label-warning blue-grey-text text-darken-4 m-r-10">Friend</span>
                            <span class="blue-grey-text text-darken-4">
                                Bitbucket (commit Pushed) by
                                Ritesh
                            </span>Lorem ipsum perspiciatis unde omnis iste natus error
                            sit
                            voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> 10:30 AM </td>
                </tr>
                <!-- row -->
                <tr class="">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst4">
                            <label class="custom-control-label" for="cst4">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/4.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Akshay Kumar</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            <span class="label label-info m-r-10">Work</span>Perspiciatis
                            unde omnis- iste Lorem ipsum perspiciatis unde omnis iste natus error
                            sit
                            voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> 9:30 AM </td>
                </tr>
                <!-- row -->
                <tr class="">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst5">
                            <label class="custom-control-label" for="cst5">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/5.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">John Abraham</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            <span class="label label-success m-r-10">Work</span>
                            Lorem ipsum perspiciatis- unde omnis iste natus error sitnatus error
                            sit
                            voluptatem voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> Mar 10 </td>
                </tr>
                <!-- row -->
                <tr class="">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst6">
                            <label class="custom-control-label" for="cst6">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/4.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Akshay Kumar</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            Lorem ipsum
                            perspiciatis - unde omnis iste natus error sit voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> Mar 09 </td>
                </tr>
                <!-- row -->
                <tr class="">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst7">
                            <label class="custom-control-label" for="cst7">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Hanna Gover</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            Unde omnis
                            Lorem
                            ipsum perspiciatis - unde omnis iste natus error sit voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> Mar 09 </td>
                </tr>
                <!-- row -->
                <tr class="">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst8">
                            <label class="custom-control-label" for="cst8">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/4.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Akshay Kumar</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            Iste natus
                            error
                            sit lorem - ipsum perspiciatis unde omnis iste natus error sit
                            voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> Mar 09 </td>
                </tr>
                <!-- row -->
                <tr class="">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst9">
                            <label class="custom-control-label" for="cst9">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Hanna Gover</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            <span class="label label-primary m-r-10">Work</span>
                            Lorem ipsum perspiciatis unde omnis iste natus error sit voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> 12:30 PM </td>
                </tr>
                <!-- row -->
                <tr class="">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst10">
                            <label class="custom-control-label" for="cst10">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/4.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Akshay Kumar</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            Lorem ipsum
                            perspiciatis - unde omnis iste natus error sit voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> Mar 09 </td>
                </tr>
                <!-- row -->
                <tr class="">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst11">
                            <label class="custom-control-label" for="cst11">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Hanna Gover</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            Unde omnis
                            Lorem
                            ipsum perspiciatis - unde omnis iste natus error sit voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> Mar 09 </td>
                </tr>
                <!-- row -->
                <tr class="">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst12">
                            <label class="custom-control-label" for="cst12">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/4.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Akshay Kumar</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            Iste natus
                            error
                            sit lorem - ipsum perspiciatis unde omnis iste natus error sit
                            voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> Mar 09 </td>
                </tr>
                <!-- row -->
                <tr class="">
                    <!-- label -->
                    <td class="chb">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cst13">
                            <label class="custom-control-label" for="cst13">&nbsp;</label>
                        </div>
                    </td>
                    <!-- star -->
                    <td class="starred"><i class="far fa-star"></i></td>
                    <!-- User -->
                    <td class="user-image">
                        <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" alt="user"
                             class="rounded-circle" width="30">
                    </td>
                    <td class="user-name">
                        <h6 class="m-b-0">Hanna Gover</h6>
                    </td>
                    <!-- Message -->
                    <td class="max-texts">
                        <a class="link" href="javascript: void(0)">
                            Lorem ipsum
                            perspiciatis unde omnis iste natus error sit voluptatem
                        </a>
                    </td>
                    <!-- Attachment -->
                    <td class="clip"><i class="fa fa-paperclip"></i></td>
                    <!-- Time -->
                    <td class="time"> 12:30 PM </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-15 m-t-30">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="javascript:void(0)"><</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">></a></li>
            </ul>
        </nav>
    </div>
</div>
</div>
</div>
</div>

