@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_MailLayout.cshtml";
}


<div class="page-wrapper">
    <div class="page-breadcrumb bg-white p-3 shadow-sm">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <a href="/Dashboard/Index" class="mr-3 d-flex align-items-center justify-content-center"
                       style="width: 40px; height: 40px; background-color: #f3f3f5; border-radius: 50%; transition: 0.3s;"
                       onmouseover="this.style.backgroundColor='#e9ecef'"
                       onmouseout="this.style.backgroundColor='#f3f3f5'">
                        <i class="mdi mdi-chevron-left text-primary" style="font-size: 24px;"></i>
                    </a>

                    <div class="d-flex flex-column">
                        <h4 class="page-title mb-0 font-weight-bold" style="color: #3e3c59;">Tüm Gelen Kutusu</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0 bg-transparent" style="font-size: 12px;">
                                <li class="breadcrumb-item"><a href="/Dashboard/Index" class="text-muted">Ana Sayfa</a></li>
                                <li class="breadcrumb-item active text-dark" aria-current="page">Gelen Kutusu</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="ml-auto d-flex align-items-center">
                        <a href="javascript:location.reload();" class="text-muted mx-2" title="Yenile">
                            <i class="mdi mdi-refresh font-20"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row flex-grow-1 overflow-hidden">
        @await Component.InvokeAsync("MailLayoutSidebar")

        <div class="table-responsive">
            <table class="table email-table no-wrap table-hover v-middle">
                <tbody>
                    <tr class="unread">
                        <td class="chb">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cst1">
                                <label class="custom-control-label" for="cst1">&nbsp;</label>
                            </div>
                        </td>
                        <td class="starred"><i class="far fa-star"></i></td>
                        <td class="user-image">
                            <img src="/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="30">
                        </td>
                        <td class="user-name"><h6 class="m-b-0">Hanna Gover</h6></td>
                        <td class="max-texts">
                            <a class="link" href="javascript: void(0)">
                                <span class="label label-danger m-r-10">Work</span>
                                <span class="blue-grey-text text-darken-4">Lorem ipsum - </span>unde omnis iste natus
                            </a>
                        </td>
                        <td class="clip"><i class="fa fa-paperclip"></i></td>
                        <td class="time"> 12:30 PM </td>
                    </tr>
                </tbody>
            </table>

            <div class="p-3 border-top bg-white">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mb-0">
                        <li class="page-item"><a class="page-link" href="javascript:void(0)"><</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>