<!DOCTYPE html>
<html dir="ltr" lang="en">

@await Component.InvokeAsync("AdminLayoutHead")
<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

        @await Component.InvokeAsync("AdminLayoutHeader")

        <div class="page-wrapper">
            <div class="page-breadcrumb">

                @RenderBody()

            </div>
        </div>

        @await Component.InvokeAsync("AdminLayoutFooter")

    </div>
</body>
</html>
@await Component.InvokeAsync("AdminLayoutScripts")
